<!DOCTYPE html>
<html lang="en">

<head>
    {% include head-profile.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.1.0/ajv7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.14.1/js-yaml.min.js"></script>
</head>

<body>

    <!-- Header section -->
    <div class="header">
        <!-- Left side of the header -->
        <div class="header-info">
            <a style="text-decoration: none;" href="/">
                <h1>skillJot</h1>
            </a>
            <div class="bar">
                <input id="github-handler" class="searchbar" type="text" title="Search" placeholder="GitHub username"
                    required>
                <a href="#"></a>
            </div>
        </div>
        <!-- Right side of the header -->
        <div class="header-links">
            <a href="https://github.com/alenhorvat/verifiable-profile-template">jotProfile</a>
            <a href="https://github.com/alenhorvat/git-recognise">jotSkills</a>
        </div>
    </div>
    <br>
    <hr>

    <div class="wrapper">
        <div class="profile-container" id="profile-container">
            <!-- JSON data will be inserted here -->
        </div>
    </div>

    <footer class="wrapper-footer">
        {% include footer.html %}
    </footer>
    <script src="{{ site.baseurl }}/assets/js/fetch.js"></script>

</body>

</html>